**/.vscode-upload.json
**/.vscode/**
.*copy.*
deploy/helmchart
deploy/helmchart/*
deploy/grafana
deploy/grafana/*
deploy/operator/grafanaoperator.template.yml
deploy/operator/patch-grafana.json
deploy/operator/patch-grafana.yml
deploy/datasource/route-thanos-tenancy.yml